header {
  background-color: goldenrod;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#hamburger-button {
  width: 75px;
  height: 75px;
  margin: 10px;
}

header > nav {
  margin: 10px;
}

@media (max-width: 350px) {
  header > nav {
    display: none;
  }

  #hamburger-button {
    display: initial;
  }
}

@media (max-width: 200px) {
  header {
    flex-direction: column;
  }
}

@media (min-width: 650px) {
  a {
    font-size: 50px;
  }
}